body {
    font-family: 'Lora', serif;
font-family: 'Merriweather', serif;
}
.header {
    height: 500px;
    width: 100%;
    background-image: url(images/donation1.jpg);
    color:white;
    background-repeat: no-repeat;
    background-size: 100%;
}
#help {
    text-align: center;
    padding-top: 150px;
    font-weight: 600;
}
.button {
    text-decoration: none;
    background-image: linear-gradient(blue , skyblue );
    color: white;
    font-weight: 400;
    padding: 15px;
    border-radius: 10%;
}
.donate {
    text-align: center;
    padding-top: 50px ;

}
.donation {
    font-size: 35px;
    font-weight: 700;
}
.taka {
    display: flex;
    text-align: center;
    padding-left: 250px;
    font-size: 30px;
    color:darkslategrey;
}
.one{
    border: 1px none gainsboro;
    padding: 40px 20px;   
    background-color: gainsboro;
    border-radius: 5%;
}
.two{
    border: 1px solid tomato;
    padding: 40px 20px;  
    color: tomato; 
    background-color: gainsboro;
    border-radius: 5%;
}
.three{
    border: 1px none gainsboro;
    padding: 40px 20px;   
    background-color: gainsboro;
    border-radius: 5%;
}
.four{
    border: 1px none gainsboro;
    padding: 40px 20px;   
    background-color: gainsboro;
    border-radius: 5%;
}
.five{
    border: 1px none gainsboro;
    padding: 40px 20px;   
    background-color: gainsboro;
    border-radius: 5%;
}
.num {
    width: 100%;
    border: none;
    border-bottom: 2px solid darkslategray;
   padding: 12px 1px;
   text-align: center; 
}
.buttonsecond{
    text-decoration: none;
    background-image: linear-gradient(blue , skyblue );
    color: white;
    font-weight: 400;
    border-radius: 8%;
    padding: 15px;
}
.another {
    text-align: center;
    padding-top: 30px;
}
.plans {
    text-align: center;
    padding-top: 100px;
}
.parent {
    display: flex;
}
.children {
    padding: 50px;
}
#prima{
    background-color: aqua;
    width: 300px;
    height: 200px;
    border-radius: 4%;
}
#seconda {
    width: 300px;
    height: 200px;
    background-color: beige;
    border-radius: 4%;
}
#terza {
    width: 300px;
    height: 200px;
    background-color: burlywood;
    border-radius: 4%;
}
.lives {
    display: flex;
    padding-top: 100px;
    margin: 10px;
}
.unique {
    width: 50%;
}
.left {
    padding-top: 50px;
    padding-left: 100px;
    padding-right: 100px;
}
.right {
    padding-left: 100px;
    padding-right: 100px;
    border: 0%;
    border-radius: 10%;
}

